<!DOCTYPE html>
<html>
	<head>
    <meta charset="UTF-8">
    <title>Tech for Justice</title>
    <meta name="google-signin-scope" content="profile email">
    <meta name="google-signin-client_id" content="http://115529283863-njj542hgl5hp4kvpmvl33ou016oi7rc1.apps.googleusercontent.com/">
	  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	  <%= csrf_meta_tags %>
	</head>
	<body>
		<div class="wrap">
			<%= render 'layouts/header' %>
			<div class="container">
				<div class="row">
					<div class="col-lg-10 col-sm-10 col-xs-10 col-lg-offset-1 col-sm-offset-1 col-xs-offset-1">
				      <%= yield %>
				    </div>
				</div>
			</div>
		</div>
	</body>
</html>
